@import '~antd/es/style/themes/default.less';

.transactionContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.imgStyle {
  border-radius: 50%;
  width: auto;
  height: auto;
}

.containerStyle {
  display: flex;
  flex-direction: row;
}

.dividerStyle {
  height: 1px;
  border-width: 0;
  color: #f0f2f5;
  background-color: #f0f2f5;
}

.monthStyle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
